.container {
	display: flex;
	margin-right: 10px;
	text-align: center;
}

.register {
	font-size: 12px;
	margin-right: 15px;
	color: #ffffff;
	text-decoration: none;
}
.line {
	margin-top: 3px;
	width: 2px;
	height: 13px;
	background-color: #fd7114;
}

.login {
	font-size: 12px;
	margin-left: 15px;
	color: #ffffff;
	text-decoration: none;
}
