.container {
	z-index: 200;
	background-color: white;
	width: 234px;
	height: 160px;
	border-radius: 4px;
	position: absolute;
	top: 60px;
	right: 0px;

	box-shadow: 1px 2px 4px rgba(18, 18, 17, 0.6);
	padding-left: 20px;
	margin-right: 20px;
}
.name {
  text-transform: capitalize;
	margin-top: 17px;
	font-size: 13px;
	color: black;
}
.email {
	margin-top: 3px;
	font-size: 13px;
	color: #707070;
}
.line {
	margin-top: 17px;
	width: 252px;
	margin-left: -20px;
	border: solid 1px;
	background-color: #707070;
}
.settings {
	margin-top: 15px;
}
.logout {
	margin-top: 20px;
}
